---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/v2/currencies/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : 28,
          "coin" : "BTC",
          "delisted" : false,
          "tradeEnable" : true,
          "name" : "Bitcoin",
          "networkList" : [ {
            "id" : 581,
            "coin" : "BTCB",
            "name" : "Binance smart chain",
            "currencyType" : "address",
            "blockchain" : "BSC",
            "withdrawalEnable" : false,
            "depositEnable" : false,
            "depositAddress" : null,
            "withdrawMin" : "-1",
            "decimals" : 8,
            "withdrawFee" : "0.00003000",
            "minConfirm" : 15,
            "contractAddress" : "0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c"
          }, {
            "id" : 1372,
            "coin" : "BTCMERLIN",
            "name" : "Merlin",
            "currencyType" : "address",
            "blockchain" : "BTCMERLIN",
            "withdrawalEnable" : false,
            "depositEnable" : false,
            "depositAddress" : null,
            "withdrawMin" : "-1",
            "decimals" : 8,
            "withdrawFee" : "0.00003000",
            "minConfirm" : 64,
            "contrac[...]
