---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/v2/currencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "id" : 1,
          "coin" : "1CR",
          "delisted" : true,
          "tradeEnable" : false,
          "name" : "1CRedit",
          "networkList" : [ {
            "id" : 1,
            "coin" : "1CR",
            "name" : "1CRedit",
            "currencyType" : "address",
            "blockchain" : "1CR",
            "withdrawalEnable" : false,
            "depositEnable" : false,
            "depositAddress" : null,
            "withdrawMin" : "-1",
            "decimals" : 8,
            "withdrawFee" : "0.01000000",
            "minConfirm" : 10000,
            "contractAddress" : null
          } ]
        }, {
          "id" : 298,
          "coin" : "A",
          "delisted" : false,
          "tradeEnable" : true,
          "name" : "Vaulta",
          "networkList" : [ {
            "id" : 298,
            "coin" : "A",
            "name" : "Vaulta",
            "currencyType" : "address-payment-id",
            "blockchain" : "A",
            "withdrawalEnable" : true,
            "depositEnable" : true,
            "depositAddress" : "bigpoloniex3",
            "withdrawMin" : "0.01000000",
            "decimals" : 4,
            "withdrawFee" : "0.10000000",
            "minConfirm" : 350,
            "contractAddress" : null
          } ],
          "supportCollateral" : false,
          "supportBorrow" : false
        }, {
          "id" : 1709,
          "coin" : "A8",
          "delisted" : false,
          "tradeEnable" : true,
          "name" : "Ancient8",
          "networkList" : [ {
            "id" : 1709,
            "coin" : "A8",
            "name" : "Ethereum",
            "currencyType" : "address",
            "blockchain" : "ETH",
            "withdrawalEnable" : true,
            "depositEnable" : true,
            "depositAddress" : null,
            "withdrawMin" : "70.000000[...]
