---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/v2/wallets/withdraw
    body:
      encoding: UTF-8
      string: '{"address":"131rdg5Rzn6BFufnnQaHhVa5ZtRU1J2EZR","amount":2000,"coin":"BTC","network":"BTC"}'
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signaturemethod:
      - HmacSHA256
      Signature:
      - AenUbiSiXx2XNZCuP28+mYsoDtwLX6EiflZ3xLbvVas=
      Signatureversion:
      - '2'
      Signtimestamp:
      - '1754744925098'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - unauthenticated
    body:
      encoding: UTF-8
      string: '{"message":"Invaid of signature","code":401}'
  recorded_at: Sat, 09 Aug 2025 13:08:45 GMT
recorded_with: VCR 6.3.1
