---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/accounts?signTimestamp=1754642592347
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - mSBaHQX0VdEpDVb+hhTRlSn6OTj4AjzjauFxT/YP26Y=
      Signtimestamp:
      - '1754642592347'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "accountId" : "76103222774956032",
          "accountType" : "SPOT",
          "accountState" : "NORMAL"
        } ]
  recorded_at: Fri, 08 Aug 2025 08:43:13 GMT
recorded_with: VCR 6.3.1
