---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/accounts/balances?signTimestamp=1753098270134
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - yPuDDnl75v5RsWxwA8Pb/gAKt4kkndztQyorz5Zfhfg=
      Signtimestamp:
      - '1753098270134'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "accountId" : "76103222774956032",
          "accountType" : "SPOT",
          "balances" : [ {
            "currencyId" : "28",
            "currency" : "BTC",
            "available" : "0.00001373309589009",
            "hold" : "0.00"
          }, {
            "currencyId" : "125",
            "currency" : "LTC",
            "available" : "0.00000084",
            "hold" : "0.00"
          }, {
            "currencyId" : "214",
            "currency" : "USDT",
            "available" : "6536.3984176404979468",
            "hold" : "0.00"
          }, {
            "currencyId" : "240",
            "currency" : "XMR",
            "available" : "0.000000897837260269",
            "hold" : "0.00"
          }, {
        [...]
