---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/accounts?signTimestamp=1753098189730
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - ROCwSTyfXyebW1pa249ytfq1tgugBeu8o11neF2d3HU=
      Signtimestamp:
      - '1753098189730'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "accountId" : "76103222774956032",
          "accountType" : "SPOT",
          "accountState" : "NORMAL"
        } ]
  recorded_at: Mon, 21 Jul 2025 11:43:09 GMT
recorded_with: VCR 6.3.1
