---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/accounts/transfer
    body:
      encoding: UTF-8
      string: '{"currency":"USDT","amount":"10.5","fromAccount":"SPOT","toAccount":"FUTURES"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Key:
      - "<API_KEY>"
      Signature:
      - cEMY2qggsn88lmxTCbUvsL1lPAQoH07/Cz25zUFjBx4=
      Signtimestamp:
      - '1754729295139'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: UTF-8
      string: |-
        {
          "transferId": "2977"
        }
  recorded_at: Sat, 09 Aug 2025 08:48:15 GMT
recorded_with: VCR 6.3.1
