---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/accounts/transfer?signTimestamp=1753698789921
    body:
      encoding: UTF-8
      string: '{"amount":10.5,"currency":"USDT","fromAccount":"SPOT","toAccount":"FUTURES"}'
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - iW+NfptkE3O32Ym0l2j9TbHPh2cWpowHEOhKGWf/c3U=
      Signtimestamp:
      - '1753698789921'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - unauthenticated
    body:
      encoding: UTF-8
      string: '{"message":"Invaid of signature","code":401}'
  recorded_at: Mon, 28 Jul 2025 10:33:10 GMT
recorded_with: VCR 6.3.1
