---
http_interactions:
- request:
    method: delete
    uri: https://api.poloniex.com/orders/cancelByIds?signTimestamp=1754743247152
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<API_KEY>"
      Signature:
      - Ra9hI3s5OoGcckOFwd+BnrL0Q/T1DcuZ2In7vxn7+bY=
      Signtimestamp:
      - '1754743247152'
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "orderId": "12345",
            "clientOrderId": "33344",
            "state": "PENDING_CANCEL",
            "code": 200,
            "message":""
          },
          {
            "orderId": "67890",
            "clientOrderId": "myId-1",
            "state": "PENDING_CANCEL",
            "code": 200,
            "message":""
          }
        ]
  recorded_at: Sat, 09 Aug 2025 12:40:47 GMT
recorded_with: VCR 6.3.1
