---
http_interactions:
- request:
    method: delete
    uri: https://api.poloniex.com/orders?accountTypes=%5B%22SPOT%22%5D&signTimestamp=1755078561042&symbols=%5B%22BTC_USDT%22,%20%22ETH_USDT%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - mnb8b1X9m3EJvTy7iP6oBXfN8L0//R9djaowM12LF50=
      Signtimestamp:
      - '1753012228632'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - unauthenticated
    body:
      encoding: UTF-8
      string: |-
        [{
          "orderId": "111222333444",
          "clientOrderId": "666666",
          "state": "PENDING_CANCEL",
          "code": 200,
          "message": "SUCCESS"
        },
        {
          "orderId": "333444555666",
          "clientOrderId": "777777",
          "state": "PENDING_CANCEL",
          "code": 200,
          "message": "SUCCESS"
        }]
  recorded_at: Sun, 20 Jul 2025 11:50:29 GMT
recorded_with: VCR 6.3.1
