---
http_interactions:
- request:
    method: delete
    uri: https://api.poloniex.com/orders/32487004629499904?id=32487004629499904&signTimestamp=1754743138269
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - GsOORlWkbgsjmRkW8UG7tP+5LyDgcXf/R7XnOxWFcZk=
      Signtimestamp:
      - '1753012219042'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - unauthenticated
    body:
      encoding: UTF-8
      string: |-
        {
          "orderId": "32487004629499904",
          "clientOrderId": "54321",
          "state": "PENDING_CANCEL",
          "code": 200,
          "message": ""
        }
  recorded_at: Sun, 20 Jul 2025 11:50:20 GMT
recorded_with: VCR 6.3.1
