---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/orders?signTimestamp=1753098108296
    body:
      encoding: UTF-8
      string: '{"price":20000,"quantity":0.001,"side":"BUY","symbol":"BTC_USDT","type":"LIMIT"}'
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - tjSrLAlH8mm/NHpYnCzncyUUzMNYTh9WKYD+ABJRNnA=
      Signtimestamp:
      - '1753098108296'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - unauthenticated
    body:
      encoding: UTF-8
      string: '{"code":401,"message":"Invaid of signature"}'
  recorded_at: Mon, 21 Jul 2025 11:41:48 GMT
recorded_with: VCR 6.3.1
