---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/orders/batch
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTC_USDT","side":"BUY","type":"LIMIT","quantity":0.01,"price":15000},{"symbol":"BTC_USDT","side":"BUY","type":"LIMIT","quantity":0.1,"price":8000}]'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Key:
      - "<API_KEY>"
      Signature:
      - gWpljfzojd9Br64wBEG8GVNZJIrbfBqeI+IVdS8rqGo=
      Signtimestamp:
      - '1754742014643'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "id" : "477209516899893248",
          "clientOrderId" : ""
        }, {
          "id" : "477209516899893249",
          "clientOrderId" : ""
        } ]
  recorded_at: Sat, 09 Aug 2025 12:20:14 GMT
recorded_with: VCR 6.3.1
