---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/orders
    body:
      encoding: UTF-8
      string: '{"symbol":"BTC_USDT","side":"BUY","type":"LIMIT","price":"20000","quantity":"0.001"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Key:
      - "<API_KEY>"
      Signature:
      - vKKqleDU9hwyG672jocprwLTToFe8JUQAkQmvg1y8Qo=
      Signtimestamp:
      - '1754723621639'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id" : "477132370584080384",
          "clientOrderId" : ""
        }
  recorded_at: Sat, 09 Aug 2025 07:13:41 GMT
recorded_with: VCR 6.3.1
