---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/currencies/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "BTC" : {
            "id" : 28,
            "name" : "Bitcoin",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "0.00100000",
            "minConf" : 2,
            "depositAddress" : null,
            "blockchain" : "BTC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : true,
            "supportBorrow" : true
          }
        }
  recorded_at: Wed, 25 Jun 2025 08:50:05 GMT
recorded_with: VCR 6.3.1
