---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/currencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "1CR" : {
            "id" : 1,
            "name" : "1CRedit",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "0.01000000",
            "minConf" : 10000,
            "depositAddress" : null,
            "blockchain" : "1CR",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "A" : {
            "id" : 298,
            "name" : "Vaulta",
            "description" : "Payment ID",
            "type" : "address-payment-id",
            "withdrawalFee" : "0.10000000",
            "minConf" : 350,
            "depositAddress" : "bigpoloniex3",
            "blockchain" : "A",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "A8" : {
            "id" : 1709,
            "name" : "Ancient8",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "19.77059013",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AAA" : {
            "id" : 2270,
            "name" : "Arcadia",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "2.00000000",
            "minConf" : 12,
            "depositAddress" : null,
            "blockchain" : "ETHBASE",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AAVE" : {
            "id" : 446,
            "name" : "Aave",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "0.01786137",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ABI" : {
            "id" : 1598,
            "name" : "Ab Defi",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "0.02000000",
            "minConf" : 300,
            "depositAddress" : null,
            "blockchain" : "SOL",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "DISABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ABY" : {
            "id" : 2,
            "name" : "ArtByte",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "0.01000000",
            "minConf" : 10000,
            "depositAddress" : null,
            "blockchain" : "ABY",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "AC" : {
            "id" : 1289,
            "name" : "ArtCoin",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "169.56398018",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ACE" : {
            "id" : 1158,
            "name" : "Fusionist",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "0.13000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ACH" : {
            "id" : 4,
            "name" : "Altcoin Herald",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "0.00000000",
            "minConf" : 10000,
            "depositAddress" : null,
            "blockchain" : "ACH",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "ACH1" : {
            "id" : 560,
            "name" : "Alchemy",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "56.46480550",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ACM" : {
            "id" : 787,
            "name" : "AC Milan Fan Token",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "1.00000000",
            "minConf" : 12,
            "depositAddress" : null,
            "blockchain" : "CHZ",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ACOLD" : {
            "id" : 3,
            "name" : "AsiaCoin",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "0.01000000",
            "minConf" : 10000,
            "depositAddress" : null,
            "blockchain" : "AC",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "ACRIA" : {
            "id" : 1331,
            "name" : "ACRIA AI",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "20.00000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ACT" : {
            "id" : 1911,
            "name" : "Act I : The AI Prophecy",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "20.22000000",
            "minConf" : 300,
            "depositAddress" : null,
            "blockchain" : "SOL",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ADA" : {
            "id" : 668,
            "name" : "Cardano",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "3.00000000",
            "minConf" : 30,
            "depositAddress" : null,
            "blockchain" : "ADA",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ADD" : {
            "id" : 503,
            "name" : "ADD.xyz",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "414.96654505",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "ADN" : {
            "id" : 5,
            "name" : "Aiden",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "0.01000000",
            "minConf" : 10000,
            "depositAddress" : null,
            "blockchain" : "ADN",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "AEON" : {
            "id" : 6,
            "name" : "AEON Coin",
            "description" : "Payment ID",
            "type" : "address-payment-id",
            "withdrawalFee" : "0.01000000",
            "minConf" : 10000,
            "depositAddress" : "WmrzAb4yy6i4otzaTZznsmaeBn8UKoBqS14XdW2DDzXr3DQnwz4o1XPJAJuo7QTqSoD9WVrdEQfn15udzhsJWmNR1jAEETQ2N",
            "blockchain" : "AEON",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "AERGO" : {
            "id" : 719,
            "name" : "Aergo",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "38.16342631",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AERO" : {
            "id" : 7,
            "name" : "Aerocoin",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "0.01000000",
            "minConf" : 10000,
            "depositAddress" : null,
            "blockchain" : "AERO",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "AERODROME" : {
            "id" : 1236,
            "name" : "Aerodrome",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "2.00000000",
            "minConf" : 12,
            "depositAddress" : null,
            "blockchain" : "ETHBASE",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AEVO" : {
            "id" : 1330,
            "name" : "aevo",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "23.52700225",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AFC" : {
            "id" : 783,
            "name" : "Arsenal Fan Token",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "2.00000000",
            "minConf" : 12,
            "depositAddress" : null,
            "blockchain" : "CHZ",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "AFRO" : {
            "id" : 1893,
            "name" : "Afro",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "1790.00000000",
            "minConf" : 0,
            "depositAddress" : null,
            "blockchain" : "TRX",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AGI" : {
            "id" : 888,
            "name" : "Agility LSD",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "1882.16018000",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AGIX" : {
            "id" : 823,
            "name" : "SingularityNET",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "1.87491947",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "OFFLINE",
            "walletState" : "ENABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AGLD" : {
            "id" : 579,
            "name" : "Adventure Gold",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "1.69411358",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AGON" : {
            "id" : 2152,
            "name" : "AGON",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "160.00000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AI" : {
            "id" : 1160,
            "name" : "AI Coin",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "3517.82000000",
            "minConf" : 300,
            "depositAddress" : null,
            "blockchain" : "SOL",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AI1" : {
            "id" : 1176,
            "name" : "Sleepless AI",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "1.70000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AIDOGE" : {
            "id" : 886,
            "name" : "ArbDoge AI",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "10000000000.00000000",
            "minConf" : 12,
            "depositAddress" : null,
            "blockchain" : "ETHARB",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AIMBOT" : {
            "id" : 1055,
            "name" : "AimBot",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "1.90769149",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AIOS" : {
            "id" : 2078,
            "name" : "Real AIOS Foundation",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "383.83000000",
            "minConf" : 300,
            "depositAddress" : null,
            "blockchain" : "SOL",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AIOT" : {
            "id" : 2198,
            "name" : "OKZOO",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "10.00000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AIR" : {
            "id" : 8,
            "name" : "AIRcoin",
            "description" : "BTC Clone",
            "type" : "address",
            "withdrawalFee" : "0.01000000",
            "minConf" : 10000,
            "depositAddress" : null,
            "blockchain" : "AIR",
            "delisted" : true,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED"
          }
        }, {
          "AITECH" : {
            "id" : 1070,
            "name" : "Solidus AI Tech",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "50.00000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AIUS" : {
            "id" : 1520,
            "name" : "Arbius",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "0.37344448",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AIXBT" : {
            "id" : 2011,
            "name" : "aixbt by Virtuals",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "5.00000000",
            "minConf" : 12,
            "depositAddress" : null,
            "blockchain" : "ETHBASE",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AJUN" : {
            "id" : 1721,
            "name" : "AJUN",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "0.20000000",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "AJUN",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "AKITA" : {
            "id" : 510,
            "name" : "Akita Inu",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "50749548.57142857",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALCH" : {
            "id" : 2003,
            "name" : "Alchemist AI",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "6.50000000",
            "minConf" : 300,
            "depositAddress" : null,
            "blockchain" : "SOL",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALEX" : {
            "id" : 903,
            "name" : "Alex Lab",
            "description" : "Payment ID",
            "type" : "address-payment-id",
            "withdrawalFee" : "20.00000000",
            "minConf" : 2,
            "depositAddress" : "SP2TV9CZ4JS7AZDGPD736G02KNQ7AA61MNJ6NM1P",
            "blockchain" : "STX",
            "delisted" : false,
            "tradingState" : "OFFLINE",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALI" : {
            "id" : 839,
            "name" : "Artificial Liquid Intelligence",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "694.92730810",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "DISABLED",
            "walletDepositState" : "DISABLED",
            "walletWithdrawalState" : "DISABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALICE" : {
            "id" : 565,
            "name" : "My Neighbor Alice",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "3.60797500",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALON" : {
            "id" : 2095,
            "name" : "ALON",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "70.03000000",
            "minConf" : 300,
            "depositAddress" : null,
            "blockchain" : "SOL",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALPACA" : {
            "id" : 556,
            "name" : "AlpacaToken",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "6.00000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALPHA" : {
            "id" : 463,
            "name" : "Alpha Finance",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "60.39016631",
            "minConf" : 64,
            "depositAddress" : null,
            "blockchain" : "ETH",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALPINE" : {
            "id" : 712,
            "name" : "Alpine F1 Team Fan Token",
            "description" : "Sweep to Main Account",
            "type" : "address",
            "withdrawalFee" : "0.15000000",
            "minConf" : 15,
            "depositAddress" : null,
            "blockchain" : "BSC",
            "delisted" : false,
            "tradingState" : "NORMAL",
            "walletState" : "ENABLED",
            "walletDepositState" : "ENABLED",
            "walletWithdrawalState" : "ENABLED",
            "supportCollateral" : false,
            "supportBorrow" : false
          }
        }, {
          "ALT" : {
            "id" : 1220,
[...]
