---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/wallets/addresses?signTimestamp=1754738233953
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<API_KEY>"
      Signature:
      - Au4AQ2OirLeAYjInDLLkMYWVslS+6rxt86rwIa5WKhU=
      Signtimestamp:
      - '1754738233953'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "AAVE": "0xae8d0d7c520daebb1580dabaa91f3ccf8ae492f5",
          "AMP": "0xae8d0d7c520daebb1580dabaa91f3ccf8ae492f5",
          "ATOM": "cosmos18clcz526q274gdvmjv820f45pua03rhn4xplkz",
          "BTC" : "bb0dabaebb1cs59h6T2V9rdX34qTza9Wdu",
          "XLMBEAR": "0xae8d0d7c520daebb1580dabaa91f3ccf8ae492f5",
          "XLMBULL": "0xae8d0d7c520daebb1580dabaa91f3ccf8ae492f5",
          "XYM": "bqz8hDK2mm"
        }
  recorded_at: Sat, 09 Aug 2025 11:17:14 GMT
recorded_with: VCR 6.3.1
