---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/feeinfo?signTimestamp=1753098385814
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - 0Ky4vFkl2MihMnNRuUc43uH40ZKt/foBwNe8COUbOcU=
      Signtimestamp:
      - '1753098385814'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "trxDiscount" : true,
          "makerRate" : "0.00105",
          "takerRate" : "0.0012",
          "volume30D" : "0.000000000000000000",
          "specialFeeRates" : [ {
            "symbol" : "WSTUSDT_USDT",
            "makerRate" : "0",
            "takerRate" : "0"
          } ]
        }
  recorded_at: Mon, 21 Jul 2025 11:46:26 GMT
recorded_with: VCR 6.3.1
