---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/orders/killSwitch
    body:
      encoding: UTF-8
      string: '{"timeout":"10"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Key:
      - "<API_KEY>"
      Signature:
      - NY6i/UTu81pwymsKRD3W8rZJaR6BYUAjAztMCQkOZOo=
      Signtimestamp:
      - '1754743762946'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: '{"startTime":"1754743763199","cancellationTime":"1754743773199"}'
  recorded_at: Sat, 09 Aug 2025 12:49:23 GMT
recorded_with: VCR 6.3.1
