---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/margin/accountMargin?accountType=SPOT&signTimestamp=1753001905095
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - 7dDzi8ukyVlnSnZ+meB8RqHTP3hVQLp/jj+r313Uy4w=
      Signtimestamp:
      - '1753001905095'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "totalAccountValue" : "7759.864159854274816739",
          "totalMargin" : "6538.792786698463435804",
          "usedMargin" : "0",
          "freeMargin" : "6538.792786698463435804",
          "maintenanceMargin" : "0",
          "marginRatio" : "999",
          "time" : 1753001905420
        }
  recorded_at: Sun, 20 Jul 2025 08:58:25 GMT
recorded_with: VCR 6.3.1
