---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "symbol" : "DASH_BTC",
          "baseCurrencyName" : "DASH",
          "quoteCurrencyName" : "BTC",
          "displayName" : "DASH/BTC",
          "state" : "NORMAL",
          "visibleStartTime" : 1659018817267,
          "tradableStartTime" : 1659018817267,
          "symbolTradeLimit" : {
            "symbol" : "DASH_BTC",
            "priceScale" : 6,
            "quantityScale" : 2,
            "amountScale" : 6,
            "minQuantity" : "0.01",
            "minAmount" : "0.00001",
            "maxQuantity" : "0",
            "maxAmount" : "0",
            "highestBid" : "0",
            "lowestAsk" : "0"
          },
          "crossMargin" : {
            "supportCrossMargin" : false,
            "maxLeverage" : 1
          }
        }, {
          "symbol" : "DOGE_BTC",
          "baseCurrencyName" : "DOGE",
          "quoteCurrencyName" : "BTC",
          "displayName" : "DOGE/BTC",
          "state" : "NORMAL",
          "visibleStartTime" : 1659018817873,
          "tradableStartTime" : 1659018817873,
          "symbolTradeLimit" : {
            "symbol" : "DOGE_BTC",
            "priceScale" : 9,
            "quantityScale" : 0,
            "amountScale" : 8,
            "minQuantity" : "10",
    [...]
