---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/BTC_USDT/markPrice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signaturemethod:
      - HmacSHA256
      Signature:
      - 4914cf141657ee2af92faf7646bb06070398d362799e5994a48cc8ff388f26ff
      Signatureversion:
      - '2'
      Timestamp:
      - '1751391149000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "BTC_USDT",
          "markPrice" : "106189.26",
          "time" : "1751391150064"
        }
  recorded_at: Tue, 01 Jul 2025 17:32:30 GMT
recorded_with: VCR 6.3.1
