---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/markPrice?signTimestamp=1752851434000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signaturemethod:
      - HmacSHA256
      Signature:
      - 5w2gnLmTdLSETxfTJE8Flsj7hVbHBicTpzZ91bzF5/s=
      Signatureversion:
      - '2'
      Signtimestamp:
      - '1752851434000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: '[{"symbol":"SHIB_USDT","markPrice":"0.000015001","time":1752851434286},{"symbol":"OMNI_BTC","markPrice":"0.0000232","time":1752851434288},{"symbol":"DOT_USDT","markPrice":"4.359","time":1752851434290},{"symbol":"CLV_USDT","markPrice":"0.0233","time":1752851434287},{"symbol":"PYTHIA_USDT","markPrice":"0.065","time":1752840916286},{"symbol":"LON_USDT","markPrice":"0.7213","time":1752840298287},{"symbol":"BONE_USDT","markPrice":"0.2085","time":1752851434286},{"symbol":"ZRO_USDT","markPrice":"2.311","time":1752851434289},{"symbol":"CHAT_USDT","markPrice"[...]
