---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/BTC_USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signaturemethod:
      - HmacSHA256
      Signature:
      - 589fdcd4fae7d15a6d72e4464797599160c1e0db21bb5c2d6aab7090b9b3c966
      Signatureversion:
      - '2'
      Timestamp:
      - '1751371433000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "symbol" : "BTC_USDT",
          "baseCurrencyName" : "BTC",
          "quoteCurrencyName" : "USDT",
          "displayName" : "BTC/USDT",
          "state" : "NORMAL",
          "visibleStartTime" : 1659018819512,
          "tradableStartTime" : 1659018819512,
          "symbolTradeLimit" : {
            "symbol" : "BTC_USDT",
            "priceScale" : 2,
            "quantityScale" : 6,
            "amountScale" : 2,
            "minQuantity" : "0.000001",
            "minAmount" : "1",
            "maxQuantity" : "20",
            "maxAmount" : "2000000",
            "highestBid" : "0",
            "lowestAsk" : "0"
          },
          "crossMargin" : {
            "supportCrossMargin" : true,
            "maxLeverage" : 3
          }
        } ]
  recorded_at: Tue, 01 Jul 2025 12:03:55 GMT
- request:
    method: get
    uri: https://api.poloniex.com/markets/BTC_USDT/markPrice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signaturemethod:
      - HmacSHA256
      Signature:
      - 7ef5425f33cfd8f590325508855440c8dcdd71e641b09f56ce72f8ac1bab2633
      Signatureversion:
      - '2'
      Timestamp:
      - '1751390975000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "BTC_USDT",
          "markPrice" : "106203.01",
          "time" : "1751390976062"
        }
  recorded_at: Tue, 01 Jul 2025 17:29:36 GMT
recorded_with: VCR 6.3.1
