---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/margin/maxSize?signTimestamp=1753005827100&symbol=BTC_USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - ppi1NyAxhboFD6HbXHmiAhmW0c4SnDNx5wJU5Qo5b5U=
      Signtimestamp:
      - '1753005827100'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "BTC_USDT",
          "maxLeverage" : 3,
          "maxAvailableBuy" : "19613.97922300131723441",
          "maxAvailableSell" : "0.110881970488594283",
          "availableBuy" : "6536.3984176404979468",
          "availableSell" : "0.000013720785753104"
        }
  recorded_at: Sun, 20 Jul 2025 10:03:48 GMT
recorded_with: VCR 6.3.1
