---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/BTC_USDT/orderBook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signaturemethod:
      - HmacSHA256
      Signature:
      - 6a885f5351c18fd0e837fdbe676804a7454d38efa8d40d9557626807a90bbb05
      Signatureversion:
      - '2'
      Timestamp:
      - '1751390404000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - unauthenticated
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "time" : 1751390404611,
          "scale" : "0.01",
          "asks" : [ "106213.98", "0.059783", "106213.99", "0.00175", "106214.01", "0.00018", "106214.04", "0.000018", "106214.05", "0.000057", "106218.03", "0.000141", "106225.01", "0.028241", "106233.29", "0.000540", "106239.92", "0.000026", "106242.00", "0.041851" ],
          "bids" : [ "106131.36", "0.161", "106131.03", "0.030151", "106118.83", "0.02827", "106111.89", "0.000141", "106104.50", "1.187518", "106104.48", "1.092791", "106104.44", "0.546741", "106077.18", "0.089290", "106070.80", "0.000875", "106070.79", "0.008674" ],
          "ts" : 1751390405046
        }
  recorded_at: Tue, 01 Jul 2025 17:20:05 GMT
recorded_with: VCR 6.3.1
