---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/price
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "symbol" : "EGL1_USDT",
          "price" : "0.07095",
          "time" : 1750744930553,
          "dailyChange" : "0.00",
          "ts" : 1750744930562
        }, {
          "symbol" : "WIF_USDT",
          "price" : "0.7485",
          "time" : 1750709780006,
          "dailyChange" : "0.00",
          "ts" : 1750709780018
        }, {
          "symbol" : "RESOLV_USDT",
          "price" : "0.1726",
          "time" : 1750831314558,
          "dailyChange" : "-0.167",
          "ts" : 1750831314568
        }, {
          "symbol" : "IRIS_USDT",
          "price" : "0.014",
          "time" : 1750841419309,
          "dailyChan[...]
