---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/BTCUSDT/price
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 24101,
          "message" : "Invalid symbol!"
        }
  recorded_at: Wed, 25 Jun 2025 08:50:19 GMT
- request:
    method: get
    uri: https://api.poloniex.com/markets/BTC_USDT/price
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signaturemethod:
      - HmacSHA256
      Signature:
      - 9f8fbbac7b5d1dfff9b582c73e1f8c0596266247409e5f251354d005a07a2d35
      Signatureversion:
      - '2'
      Timestamp:
      - '1751389496000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "symbol" : "BTC_USDT",
          "price" : "105941.02",
          "time" : 1751389498122,
          "dailyChange" : "-0.0157",
          "ts" : 1751389498138
        }
  recorded_at: Tue, 01 Jul 2025 17:04:58 GMT
recorded_with: VCR 6.3.1
