---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/BTC_USDT/price?signTimestamp=1753699867791
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - "<API_KEY>"
      Signature:
      - YteoCZkb31to7x+UeniE8kSzFQCJoLifQ/VH6ek8AB4=
      Signtimestamp:
      - '1753699867791'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: '{"symbol":"BTC_USDT","price":"118730.25","dailyChange":"0.0045","time":1753699861018,"ts":1753699861025}'
  recorded_at: Mon, 28 Jul 2025 10:51:08 GMT
recorded_with: VCR 6.3.1
