---
http_interactions:
- request:
    method: get
    uri: https://api.poloniex.com/markets/ticker24h
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - skip-authentication
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "symbol" : "DASH_BTC",
          "open" : "0.000191",
          "low" : "0.000188",
          "high" : "0.000191",
          "close" : "0.000189",
          "quantity" : "146.33",
          "amount" : "0.02777642",
          "tradeCount" : 165,
          "startTime" : 1750754640000,
          "closeTime" : 1750841041384,
          "displayName" : "DASH/BTC",
          "dailyChange" : "-0.0105",
          "bid" : "0.000188",
          "bidQuantity" : "0.29",
          "ask" : "0.000189",
          "askQuantity" : "12.94",
          "ts" : 1750841041573,
          "markPrice" : "0.000188"
        }, {
          "symbol" : "DOGE_BTC",
          "open" : "0.000001556",
          "low" : "0.000001544",
          "high" : "0.000001568",
          "close" : "0.000001551",
          "quantity" : "30554",
          "amount" : "0.047638217",
          "tradeCount" : 131,
          "startTime" : 1750754880000,
          "closeTime" : 1750841298495,
          "displayName" : "DOGE/BTC",
          "dailyChange" : "-0.0032",
          "bid" : "0.000001549",
          "bidQuantity[...]
