---
http_interactions:
- request:
    method: post
    uri: https://api.poloniex.com/wallets/withdraw
    body:
      encoding: UTF-8
      string: '{"currency":"BTC","amount":"0.1","address":"1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Key:
      - "<API_KEY>"
      Signature:
      - G9hfsWFR1AAtEz5yJ/RM2yOKn1CZ39aS0nzw6E7Utr0=
      Signtimestamp:
      - '1754739490163'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Web-Filter:
      - authenticated
    body:
      encoding: UTF-8
      string: |-
        {
            "withdrawalRequestsId": 33485231
        }
  recorded_at: Sat, 09 Aug 2025 11:38:11 GMT
recorded_with: VCR 6.3.1
